 
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap');

html, body {
  margin: 0;
  font-family: 'Fredoka', sans-serif !important;
  padding: 20px;
}

$body: #8CBAFF;
body  {
    background-color: $body;
}